<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <link rel="icon" href="../static/img/favicon.png">

      <link rel="stylesheet" href="../static/main.css">
      <title>Zot Search</title>
  </head>
  <body>
    <div class="search">
        <div class="logo">
          <a href="#"><img src="../static/img/anteater.jpg" /></a>
        </div>
      <form id="search-form" method="POST" action="/results">
        <input class="search-bar" name = "query_str" type="search" autofocus x-webkit-speech required/>
        <div class="search-nav">
        
            <input class="search-button button" type="submit" value="Search" />
          </div>
        </div>
      </form>
    </div>
  </body>
</html>